@import "./moduls/fonts";
@import "./moduls/variables";

body {
  font-family: $font-family;
}

%backgro {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

%flexibl {
  display: flex;
}

%button {
  width: 213px;
  height: 60px;
  background-color: $Accent;
  color: $white;
  border: none;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

h1 {
  color: $white;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase;
  padding: 8px;
}
h2 {
  color: $white;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 6.82px;
  margin-bottom: 48px;
}

h3 {
  color: $white;
  font-family: Aleo;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
}

p {
  font-family: $font-family;
  color: $white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.8px;
}

a {
  text-decoration: none;
  color: $white;
  font-family: Aleo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

header {
  background-image: url(/images/HeaderBackground.png);
  @extend %backgro;
  .wrapp {
    @extend %flexibl;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 860px;
  }
}

.source {
  background-color: $white;
  width: 505px;
  height: 60px;
  margin-bottom: 211px;
  position: relative;
  .btn {
    @extend%button;
    position: absolute;
    right: 1px;
    top: 6px;
    bottom: 0px;
    width: 139px;
    height: 52px;
    padding-left: 35px;
    font-family: Aleo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }
  .src_btn {
    position: absolute;
    right: 98px;
    top: 23px;
  }
  .btn:hover {
    background-color: rgb(4, 0, 255);
  }
}

.source input {
  width: 100%;
  height: 100%;
  padding: 0%;
}
.source ::placeholder {
  font-family: $font-family;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.8px;
  padding-left: 36px;
}

.scroll {
  width: 14px;
  height: 16px;
  flex-shrink: 0;
}

.container {
  @extend %flexibl;
  width: 1320px;
  height: 85px;
}

nav {
  @extend %flexibl;
  justify-content: center;
  background-color: $Accent;
  width: 100%;
  .container {
    @extend %flexibl;
    justify-content: space-between;
    align-items: center;
  }
}

.navigation {
  @extend %flexibl;
  list-style: none;
  gap: 40px;
}

.container span {
  color: $white;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase;
}

.sec1 {
  background-image: url(/images/WhyBackground.png);
  @extend %backgro;
  @extend %flexibl;
  justify-content: center;
  .container {
    justify-content: space-between;
    align-items: center;
    height: 705px;
    .info_wcu {
      @extend %flexibl;
      display: block;
      width: 650px;
    }
    .btn {
      @extend%button;
    }
    .btn:hover {
      background-color: rgb(4, 0, 255);
    }

    h3 {
      padding-bottom: 24px;
    }
    p {
      padding-bottom: 32px;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 28px;
      letter-spacing: 1.6px;
    }
    .info_images {
      @extend %flexibl;
      display: block;
    }
    .info_img1 {
      position: relative;
      bottom: 16px;
      right: 75px;
    }
  }
}

.sec2 {
  background-image: url(/images/BG.png);
  @extend %backgro;
  @extend %flexibl;
  justify-content: center;

  .container {
    height: 306px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  svg {
    width: 64px;
    height: 64px;
  }
  .img_svg {
    @extend%flexibl;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: max-content;
    span {
      font-family: Aleo;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
      text-transform: capitalize;
    }
  }
}

.sec3 {
  background-image: url(/images/renderBG.png);
  @extend %backgro;
  @extend %flexibl;
  justify-content: center;
  height: 685px;
  .container {
    @extend%flexibl;
    .card {
      width: 650px;
      height: 344px;
      background: rgba(35, 35, 35, 0.9);
      margin-top: 220px;

      .card_text {
        @extend%flexibl;
        flex-direction: column;
        padding-left: 32px;
        padding-top: 45px;
        gap: 16px;
        padding-bottom: 24px;
      }

      span {
        font-family: Josefin Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 2px;
      }
      h3 {
        font-family: Josefin Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        text-transform: uppercase;
      }
      p {
        font-family: Josefin Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 1.6px;
      }
      .btn {
        @extend%button;
      }
      .btn:hover {
        background-color: rgb(4, 0, 255);
      }
    }
  }
}

.sec4 {
  background-image: url(/images/spain.png);
  @extend %backgro;
  @extend %flexibl;
  justify-content: center;
  height: 685px;
  .container {
    @extend%flexibl;
    justify-content: end;
    .card_sec4 {
      width: 650px;
      height: 344px;
      background: rgba(35, 35, 35, 0.9);
      margin-top: 220px;

      .card_text2 {
        @extend%flexibl;
        flex-direction: column;
        padding-left: 32px;
        padding-top: 45px;
        gap: 16px;
        padding-bottom: 24px;
      }

      span {
        font-family: Josefin Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 2px;
      }
      h3 {
        font-family: Josefin Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        text-transform: uppercase;
      }
      p {
        font-family: Josefin Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 1.6px;
      }
      .btn {
        @extend%button;
      }
      .btn:hover {
        background-color: rgb(4, 0, 255);
      }
    }
  }
}

.sec5 {
  background-image: url(/images/strenger.png);
  @extend %backgro;
  @extend %flexibl;
  height: 680px;
  justify-content: center;
  align-items: center;

  .container {
    @extend%flexibl;
    height: 680px;
    justify-content: center;

    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 885px;
      height: 280px;
      background: var(--Dark-Grey, #333);
      .box_size {
        padding-left: 60px;

        h3 {
          font-family: Josefin Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          text-transform: uppercase;
        }
        p {
          font-family: Josefin Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 28px;
          letter-spacing: 1.6px;
        }
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
    h2 {
      font-family: Aleo;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
      text-transform: capitalize;
    }
    .bio_text {
      @extend%flexibl;
      justify-content: center;
      align-items: center;
    }
  }
}

footer {
  width: 100%;
  height: 268px;
  background-color: #000;
}

.social {
  display: flex;
  svg {
    width: 36px;
    height: 32px;
  }
}
